@page "/Avatars"
    <Card Title="Avatars">
        <Avatar>
            <img alt="Person name" src="_content/LightningDesignSystem/assets/images/avatar2.jpg" title="Person name" />
        </Avatar>

        <h1>Sizes</h1>
        <Avatar Layout="AvatarLayout.Circle" Size="AvatarSize.xSmall">
            <img alt="Person name" src="_content/LightningDesignSystem/assets/images/avatar2.jpg" title="Person name" />
        </Avatar>
        <Avatar Layout="AvatarLayout.Circle" Size="AvatarSize.Small">
            <img alt="Person name" src="_content/LightningDesignSystem/assets/images/avatar2.jpg" title="Person name" />
        </Avatar>
        <Avatar Layout="AvatarLayout.Circle" Size="AvatarSize.Medium">
            <img alt="Person name" src="_content/LightningDesignSystem/assets/images/avatar2.jpg" title="Person name" />
        </Avatar>
        <Avatar Layout="AvatarLayout.Circle" Size="AvatarSize.Large">
            <img alt="Person name" src="_content/LightningDesignSystem/assets/images/avatar2.jpg" title="Person name" />
        </Avatar>
    </Card>
