@page "/Badges"

    <Card>


        <Badge>

            <ChildContent>
                Default Badge
            </ChildContent>
        </Badge>

        <Badge Color="BadgeColor.Darker">

            <ChildContent>
                Darker Badge
            </ChildContent>
        </Badge>
        <Badge Color="BadgeColor.Lightes">

            <ChildContent>
                Lightes Badge
            </ChildContent>
        </Badge>

        <Badge>
            <IconTemplate>
                <Icon Name="moneybag" Category="IconCategory.Utility" Size="IconSize.xxSmall" Color="IconColor.CurrentColor" Title="Description" />
            </IconTemplate>
            <ChildContent>
                <span>
                    423 Credits Availa
                </span>
            </ChildContent>
        </Badge>

        <Badge IconAlign="BadgeIconAlign.Right">
            <IconTemplate>
                <Icon Name="moneybag" Category="IconCategory.Utility" Size="IconSize.xxSmall" Color="IconColor.CurrentColor" Title="Description" />
            </IconTemplate>
            <ChildContent>
                <span>
                    423 Credits Availa
                </span>

            </ChildContent>
        </Badge>

        <Badge Color="BadgeColor.Lightes">
            <IconTemplate>
                <Icon Name="moneybag" Category="IconCategory.Utility" Size="IconSize.xxSmall" Color="IconColor.CurrentColor" Title="Description" />
            </IconTemplate>
            <ChildContent>
                <span>
                    423 Credits Availa
                </span>
            </ChildContent>
        </Badge>

        <Badge Color="BadgeColor.Lightes" IconAlign="BadgeIconAlign.Right">
            <IconTemplate>
                <Icon Name="moneybag" Category="IconCategory.Utility" Size="IconSize.xxSmall" Color="IconColor.CurrentColor" Title="Description" />
            </IconTemplate>
            <ChildContent>
                <span>
                    423 Credits Availa
                </span>

            </ChildContent>
        </Badge>
    </Card>
@code {

}