@page "/Buttons"



    <Card>
        <Button>Base</Button>
        <Button Style="ButtonStyle.Neutral">Neutral</Button>
        <Button Style="ButtonStyle.Brand">Brand</Button>
        <Button Style="ButtonStyle.OutlineBrand">Outline Brand</Button>
        <Button Style="ButtonStyle.Inverse">Inverse</Button>
        <Button Style="ButtonStyle.Destructive">Destructive</Button>
        <Button Style="ButtonStyle.TextDestructive">Text Destructive</Button>
        <Button Style="ButtonStyle.Success">Success</Button>

    </Card>


