@page "/Cards"


<Card Title="Accounts">
    <IconTemplate>
        <Icon Name="account" Category="IconCategory.Standard" Size="IconSize.Small" Title="Account" />
    </IconTemplate>
    <ChildContent>
        Anything can go into the card body
    </ChildContent>
    <FooterTemplate>
        <a class="slds-card__footer-action" href="javascript:void(0);">
            View All
            <span class="slds-assistive-text">Accounts</span>
        </a>
    </FooterTemplate>


</Card>

<Card Title="Accounts">
    <IconTemplate>
        <Icon Name="account" Category="IconCategory.Standard" Size="IconSize.Small" Title="Account" />
    </IconTemplate>
</Card>

<Card Title="Accounts">
    <ChildContent>
        Anything can go into the card body
    </ChildContent>
    <FooterTemplate>
        <a class="slds-card__footer-action" href="javascript:void(0);">
            View All
            <span class="slds-assistive-text">Accounts</span>
        </a>
    </FooterTemplate>
</Card>

<Card Title="Accounts">
    <IconTemplate>
        <Icon Name="account" Category="IconCategory.Standard" Size="IconSize.Small" Title="Account" />
    </IconTemplate>
    <ActionTemplate>
        <Button Style="ButtonStyle.Neutral">New</Button>
    </ActionTemplate>
</Card>
