@page "/Icons"
    <Card>

        <h3>Action</h3>
        <Icon Name="description" Category="IconCategory.Action" Title="Description" />

        <h3>Custom</h3>
        <Icon Name="custom5" Category="IconCategory.Custom" Title="Custom" />

        <h3>Doctype</h3>
        <Icon Name="xml" Category="IconCategory.Doctype" Title="Xml" />

        <h3>Standard</h3>
        <Icon Name="account" Category="IconCategory.Standard" Title="Account" />

        <h1>Default</h1>
        <Icon Name="announcement" Category="IconCategory.Utility" Color="IconColor.Default" Title="Announcement" />

        <h1>Success</h1>
        <Icon Name="announcement" Category="IconCategory.Utility" Color="IconColor.Success" Title="Announcement" />

        <h1>Warning</h1>
        <Icon Name="announcement" Category="IconCategory.Utility" Color="IconColor.Warning" Title="Announcement" />

        <h1>Error</h1>
        <Icon Name="announcement" Category="IconCategory.Utility" Color="IconColor.Error" Title="Announcement" />

        <h1>Light</h1>
        <Icon Name="announcement" Category="IconCategory.Utility" Color="IconColor.Light" Title="Announcement" />

        <h1>xxSmall</h1>
        <Icon Name="announcement" Category="IconCategory.Utility" Color="IconColor.Light" Size="IconSize.xxSmall" Title="Announcement" />

        <h1>xSmall</h1>
        <Icon Name="announcement" Category="IconCategory.Utility" Color="IconColor.Light" Size="IconSize.xSmall" Title="Announcement" />

        <h1>Small</h1>
        <Icon Name="announcement" Category="IconCategory.Utility" Color="IconColor.Light" Size="IconSize.Small" Title="Announcement" />

        <h1>Large</h1>
        <Icon Name="announcement" Category="IconCategory.Utility" Color="IconColor.Light" Size="IconSize.Large" Title="Announcement" />
    </Card>


@code {
    //bool isShow;
    //void ShowModal()
    //{
    //    isShow = true;
    //}
}