@page "/Menus"
  
    <Menu>
        <Menuitem Link="javascript:void(0);" Title="Menu Item One"></Menuitem>
        <Menuitem Link="javascript:void(0);" Title="Menu Item Two"></Menuitem>
        <Menuitem Link="javascript:void(0);" Title="Menu Item Three"></Menuitem>

        <li class="slds-has-divider_top-space" role="separator"></li>
        <Menuitem Link="javascript:void(0);" Title="Menu Item Four"></Menuitem>
      
    </Menu>

