@page "/page-headers"


<PageHeader Title="Rohde Corp - 80,000 Widgets" Meta="Mark Jaeckal • Unlimited Customer • 11/13/15">
    <IconTemplate>
        <Icon Name="opportunity" Category="IconCategory.Standard" Size="IconSize.Small" Title="opportunity" SvgCss="slds-page-header__icon" />
    </IconTemplate>
</PageHeader>


<h1>Object Home</h1>
<PageHeader Title="Rohde Corp - 80,000 Widgets" Meta="Mark Jaeckal • Unlimited Customer • 11/13/15">
    <IconTemplate>
        <Icon Name="opportunity" Category="IconCategory.Standard" Size="IconSize.Small" Title="opportunity" SvgCss="slds-page-header__icon" />
    </IconTemplate>
    <ActionTemplate>
        <Button Style="ButtonStyle.Neutral">New</Button>
    </ActionTemplate>
</PageHeader>



<h1>Record Home</h1>
