@inherits LayoutComponentBase
@*<GlobalHeader />*@
    <GlobalNavigation>
        <ContextBarItem>
            <NavLink class="slds-context-bar__label-action" title="Home" href="" Match="NavLinkMatch.All">
                <span class="slds-truncate" title="Home">Home</span>
            </NavLink>
        </ContextBarItem>
        <ContextBarItem>
            <NavLink class="slds-context-bar__label-action" title="Accordion" href="Accordion">
                <span class="slds-truncate" title="Accordion">Accordion</span>
            </NavLink>
        </ContextBarItem>
        <ContextBarItem>
            <NavLink class="slds-context-bar__label-action" title="Alerts" href="Alerts">
                <span class="slds-truncate" title="Alerts">Alerts</span>
            </NavLink>
        </ContextBarItem>
        <ContextBarItem>
            <NavLink class="slds-context-bar__label-action" title="Avatars" href="Avatars">
                <span class="slds-truncate" title="Avatars">Avatars</span>
            </NavLink>
        </ContextBarItem>
        <ContextBarItem>
            <NavLink class="slds-context-bar__label-action" title="Badges" href="Badges">
                <span class="slds-truncate" title="Badges">Badges</span>
            </NavLink>
        </ContextBarItem>
        <ContextBarItem>
            <NavLink class="slds-context-bar__label-action" title="Badges" href="Buttons">
                <span class="slds-truncate" title="Buttons">Buttons</span>
            </NavLink>
        </ContextBarItem>
        <ContextBarItem>
            <NavLink class="slds-context-bar__label-action" title="Cards" href="Cards">
                <span class="slds-truncate" title="Cards">Cards</span>
            </NavLink>
        </ContextBarItem>
        <ContextBarItem>
            <NavLink class="slds-context-bar__label-action" title="Forms" href="Forms">
                <span class="slds-truncate" title="Forms">Forms</span>
            </NavLink>
        </ContextBarItem>
        <ContextBarItem>
            <NavLink class="slds-context-bar__label-action" title="Icons" href="Icons">
                <span class="slds-truncate" title="Icons">Icons</span>
            </NavLink>
        </ContextBarItem>
        <ContextBarItem>
            <NavLink class="slds-context-bar__label-action" title="Menus" href="Menus">
                <span class="slds-truncate" title="Menus">Menus</span>
            </NavLink>
        </ContextBarItem>

        <ContextBarItem>
            <NavLink class="slds-context-bar__label-action" title="Modal" href="Modal">
                <span class="slds-truncate" title="Modal">Modal</span>
            </NavLink>
        </ContextBarItem>
        <ContextBarItem>
            <NavLink class="slds-context-bar__label-action" title="Page Headers" href="page-headers">
                <span class="slds-truncate" title="Page Headers">Page Headers</span>
            </NavLink>
        </ContextBarItem>
        <ContextBarItem>
            <NavLink class="slds-context-bar__label-action" title="Tabs" href="Tabs">
                <span class="slds-truncate" title="Tabs">Tabs</span>
            </NavLink>
        </ContextBarItem>
        <ContextBarItem>
            <NavLink class="slds-context-bar__label-action" title="Tooltips" href="Tooltips">
                <span class="slds-truncate" title="Tooltips">Tooltips</span>
            </NavLink>
        </ContextBarItem>
        <ContextBarItem>
            <NavLink class="slds-context-bar__label-action" title="Fetch Data" href="fetchdata">
                <span class="slds-truncate" title="Fetch Data">Fetch Data</span>
            </NavLink>
        </ContextBarItem>
    </GlobalNavigation>
<div class="slds-grid slds-gutters">
    <div class="slds-col slds-m-around_small">
        @Body

    </div>

</div>

